.display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: fit-content;
}

.display p,
.display h4 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  margin: 70px 20px;
}
.display img {
  width: 100%;
  margin-top: -10px;
}

.display a {
  text-decoration: none;
  color: black;
}

.body {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.selection {
  margin-top: 20px;
}
.red {
  color: white;
  background-color: red;
  border-radius: 10px;
}
.price {
  color: red;
}
